// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$timmy-orange: #FEBF63;
$timmy-blue: #7FDBDA;
$timmy-green: #ADE498;
$timmy-yellow: #EDE682;
$timmy-bright-yellow: #F1E85D;
$timmy-dark-green: #91C77C;
$timmy-bright-green: #6AB04F;
$timmy-brown: #C7A87C;
$timmy-red: #DC8489;
