<div class="background-index-profil">
    <div class="who">
        <h1>Qui va jouer aujourd'hui?</h1>
    </div>
    <div class="profil-container">
      <div class="children-container">
            <% @children.each do |child| %>
              <div class="children-cards">
                  <%= link_to child_games_path(child) do %>
                    <%= cl_image_tag child.avatar.key, height: 220, width: 220, crop: :fill %>
                    <h2><%= child.first_name %></h2>
                  <% end %>
              </div>
            <% end %>
      </div>
    <div>
    <div id="plus-button" >
        <%= link_to new_child_path, class: "plus-button" do %>
        <i class="fa-solid fa-xl back-arrow fa-plus"></i>
        <% end %>
    </div>
</div>
