<h1>Qui joue</h1>
<br>

<ul>
  <% @children.each do |child| %>
    <li><%= link_to child.first_name, child_games_path(child) %></li>
  <% end %>
  </ul>


  <%= link_to "Ajouter un enfant", new_child_path %>
