.child-profile-img {
  border-radius: 50%;
}

.container-child-infos {
  color: white;
  align-items: center;
  flex-direction: column;
  text-align: start;
  background-color: $timmy-orange;
  border-radius: 15px;
  margin-top: 30px;
  width: 475px;
  padding: 5px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  h1 {
    margin-top: 20px;
  }
}

.container-child-results {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // gap: 45px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.container-stats {
  flex-direction: column;
  align-items: center;
}

.stats-title {
  p {
    font-family: $headers-font;
    font-size: 25px;
  }
}

.container-profile {
  margin: 10px;
  padding: 10px;
  display: flex;
  .profile-infos {
    margin-left: 20px;
  }
}

.profile-game-card {
  padding: 12px;
  background-color: $timmy-green;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 124px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile-game-card-infos {
  padding-left: 10px;
  text-align: start;
  color: white;
  p {
    margin: 7px 0px;
    }
}


.tiles {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-right: 3px;

  &.one {
    background-image: image-url("games/memory/elephant.jpeg");
    background-size: contain;
  }
  &.two {
    background-image: image-url("tiles/calcul.jpeg");
    background-size: contain;
  }
  &.three {
    background-image: image-url("games/memory/carte.jpeg");
    background-size: contain;
  }
  &.four {
    background-image: image-url("tiles/lions.jpeg");
    background-size: contain;
  }
  &.five {
    background-image: image-url("tiles/papillons.jpeg");
    background-size: cover;
  }
  &.six {
    background-image: image-url("tiles/rebus.jpeg");
    background-size: contain;
  }
  &.seven {
    background-image: image-url("tiles/coloriage.jpeg");
    background-size: contain;
  }
  &.eight {
    background-image: image-url("tiles/billes.jpeg");
    background-size: contain;
  }
  &.nine {
    background-image: image-url("tiles/bus.jpeg");
    background-size: contain;
  }
}
