.gameplay-nav {
  margin: 20px 25px 43px 25px;
}

.gameplay-title {
  color: white;
  text-align: center;
  margin-top: 15px;
}

.back-arrow {
  color: white;
  font-size: 60px;
  background: $timmy-orange;
  border-radius: 50%;
  text-decoration: none;
  padding: 35px 10px;
}
