// Specific CSS for your home-page
.container-homepage .cover-homepage img {
  width: 100%;
}

#home-h2 {
  margin: 20px auto;
}

#text-home {
  margin: 20px auto;
}

.timmy-link {
  font-family: $headers-font;
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}
