// Specific CSS for your home-page
.container-homepage .cover-homepage {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
}

.container-homepage-content {
  padding-top: 10rem ;
  color: white;
}

.home-h2 {
  font-size: 38px;
  font-weight: bold;
  font-family: $headers-font;
  min-height: 50px;
  }

#home-p {
  width: 800px;
  margin: 1rem 0 4rem;
  text-align: justify;
}

.timmy-link {
  font-family: $headers-font;
  color: white;
  font-size: 30px;
  text-decoration: none;
}
