#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardboard, #modal-win {
  .line {
    display: flex;
  }

  animation: bounce-in-right 1.7s ease;

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

  #one {
    margin-right: 46px;
    margin-left: 31px;
    margin-top: 15px;
    transform: rotate(-3deg);
  }
  #two {
    margin-right: 37px;
    margin-top: 9px;
    transform: rotate(1deg);
  }
  #three {
    margin-right: 40px;
    transform: rotate(3deg);
  }
  #four {
    margin-top: 6px;
    transform: rotate(-2deg);
  }
  #five {
    margin-right: 49px;
    margin-top: 6px;
    transform: rotate(1deg);
  }
  #six {
    margin-right: 55px;
    margin-top: 3px;
    transform: rotate(-3deg);
  }
  #seven {
    margin-right: 78px;
    margin-top: 9px;
    transform: rotate(2deg);
  }
  #eight {
    margin-top: 4px;
    transform: rotate(4deg);
  }
  #nine {
    margin-right: 60px;
    margin-left: 21px;
    margin-top: 4px;
    transform: rotate(-2deg);
  }
  #ten {
    margin-right: 49px;
    transform: rotate(-8deg);
  }
  #eleven {
    margin-right: 37px;
    margin-top: 6px;
    transform: rotate(5deg);
  }
  #twelve {
    margin-top: 3px;
    transform: rotate(-3deg);
  }
  #thirteen {
    margin-right: 53px;
    margin-left: 11px;
    margin-top: 3px;
    transform: rotate(1deg);
  }
  #fourteen {
    margin-right: 60px;
    margin-top: 10px;
    transform: rotate(-3deg);
  }
  #fifteen {
    margin-right: 65px;
    margin-top: 6px;
    transform: rotate(2deg);
  }
  #sixteen {
    margin-top: 11px;
    transform: rotate(5deg);
  }

  .card {
    width: 115px;
    height: 115px;
    margin-bottom: 22px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    background-image: url("games/memory/carte.jpeg");
    background-size: contain;
    box-shadow: 0px 0px 8px 3px #0000006e;
  }
  .card.card-revealed, .card.card-won {
    pointer-events: none;
  }
  .card.card-revealed {
    box-shadow: 0px 0px 13px 10px #ffffffcf;
  }

  .card.one.card-revealed {
    background-image: url("games/memory/antilope.jpeg");
  }
  .card.one.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/antilope.jpeg");
  }
  .card.two.card-revealed {
    background-image: url("games/memory/elephant.jpeg");
  }
  .card.two.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/elephant.jpeg");
  }
  .card.three.card-revealed {
    background-image: url("games/memory/guepard.jpeg");
  }
  .card.three.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/guepard.jpeg");
  }
  .card.four.card-revealed {
    background-image: url("games/memory/hippopotame.jpeg");
  }
  .card.four.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/hippopotame.jpeg");
  }
  .card.five.card-revealed {
    background-image: url("games/memory/lion.jpeg");
  }
  .card.five.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/lion.jpeg");
  }
  .card.six.card-revealed {
    background-image: url("games/memory/rhinoceros.jpeg");
  }
  .card.six.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/rhinoceros.jpeg");
  }
  .card.seven.card-revealed {
    background-image: url("games/memory/tigre.jpeg");
  }
  .card.seven.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/tigre.jpeg");
  }
  .card.eight.card-revealed {
    background-image: url("games/memory/zebre.jpeg");
  }
  .card.eight.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), url("games/memory/zebre.jpeg");
  }

  .shake {
    animation: shake-animation 4.72s ease;
    transform-origin: 50% 50%;
  }
  @keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }
}

#modal-bloc {
  position: absolute;

  #modal-win {
    width: 760px;
    height: 480px;
    padding-top: 25px;
    background-color: #1D8E36;
    border-radius: 20px;

    &:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    h1, h3 {
      color: white;
      text-align: center;
    }

    h1 {
      font-size: 54px;
    }

    .card {
        width: 150px;
        height: 150px;
        margin: 0px 120px 0px 0px;
    }

    .fa-star {
      color: $timmy-yellow;
      font-size: 50px;
    }

    .fa-house, .fa-rotate-right {
      margin: 8px 13px 0px 12px;
      border-radius: 20px;
      box-shadow: 1px 2px 5px 1px #00000054;
      padding: 14px;
      background-color: $timmy-orange;
      color: white;
      font-size: 70px;
    }
  }
}
