#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardboard.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.7s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#cardboard, #modal-win {
  .line {
    display: flex;
  }

  animation: bounce-in-right 1.7s ease;

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

  #one {
    margin-right: 46px;
    margin-left: 31px;
    margin-top: 15px;
    transform: rotate(-3deg);
  }
  #two {
    margin-right: 37px;
    margin-top: 9px;
    transform: rotate(1deg);
  }
  #three {
    margin-right: 40px;
    transform: rotate(3deg);
  }
  #four {
    margin-top: 6px;
    transform: rotate(-2deg);
  }
  #five {
    margin-right: 49px;
    margin-top: 6px;
    transform: rotate(1deg);
  }
  #six {
    margin-right: 55px;
    margin-top: 3px;
    transform: rotate(-3deg);
  }
  #seven {
    margin-right: 78px;
    margin-top: 9px;
    transform: rotate(2deg);
  }
  #eight {
    margin-top: 4px;
    transform: rotate(4deg);
  }
  #nine {
    margin-right: 60px;
    margin-left: 21px;
    margin-top: 4px;
    transform: rotate(-2deg);
  }
  #ten {
    margin-right: 49px;
    transform: rotate(-8deg);
  }
  #eleven {
    margin-right: 37px;
    margin-top: 6px;
    transform: rotate(5deg);
  }
  #twelve {
    margin-top: 3px;
    transform: rotate(-3deg);
  }
  #thirteen {
    margin-right: 53px;
    margin-left: 11px;
    margin-top: 3px;
    transform: rotate(1deg);
  }
  #fourteen {
    margin-right: 60px;
    margin-top: 10px;
    transform: rotate(-3deg);
  }
  #fifteen {
    margin-right: 65px;
    margin-top: 6px;
    transform: rotate(2deg);
  }
  #sixteen {
    margin-top: 11px;
    transform: rotate(5deg);
  }

  .card {
    width: 115px;
    height: 115px;
    margin-bottom: 22px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    background-image: image-url("games/memory/carte.jpeg");
    background-size: contain;
    box-shadow: 0px 0px 8px 3px #0000006e;

    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    &:focus {
      outline: 0;
    }

    &:before, &:after{
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

    &:before{
      display: none;
      top: -75%;
      background-image:
        radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle,  transparent 20%, $timmy-yellow 20%, transparent 30%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, $timmy-yellow 15%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after{
      display: none;
      bottom: -75%;
      background-image:
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, $timmy-yellow 15%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%),
      radial-gradient(circle, $timmy-yellow 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active{
      transform: scale(0.9);
      background-color: darken($timmy-yellow, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate{
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }

  }

  @keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  .card.no-click {
    pointer-events: none;
  }

  .card.card-revealed, .card.card-won {
    pointer-events: none;
  }
  .card.card-revealed {
    box-shadow: 0px 0px 13px 10px #ffffffcf;
  }

  .card.one.card-revealed {
    background-image: image-url("games/memory/antilope.jpeg");
  }
  .card.one.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/antilope.jpeg");
  }
  .card.two.card-revealed {
    background-image: image-url("games/memory/elephant.jpeg");
  }
  .card.two.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/elephant.jpeg");
  }
  .card.three.card-revealed {
    background-image: image-url("games/memory/guepard.jpeg");
  }
  .card.three.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/guepard.jpeg");
  }
  .card.four.card-revealed {
    background-image: image-url("games/memory/hippopotame.jpeg");
  }
  .card.four.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/hippopotame.jpeg");
  }
  .card.five.card-revealed {
    background-image: image-url("games/memory/lion.jpeg");
  }
  .card.five.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/lion.jpeg");
  }
  .card.six.card-revealed {
    background-image: image-url("games/memory/rhinoceros.jpeg");
  }
  .card.six.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/rhinoceros.jpeg");
  }
  .card.seven.card-revealed {
    background-image: image-url("games/memory/tigre.jpeg");
  }
  .card.seven.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/tigre.jpeg");
  }
  .card.eight.card-revealed {
    background-image: image-url("games/memory/zebre.jpeg");
  }
  .card.eight.card-won {
    background-image: linear-gradient(rgba(49, 49, 49, 0.643), rgba(73, 73, 73, 0.682)), image-url("games/memory/zebre.jpeg");
  }

  .shake {
    animation: shake-animation 4.72s ease;
    transform-origin: 50% 50%;
  }
  @keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }
}

#modal-bloc {
  position: absolute;

  #modal-win {
    width: 760px;
    height: 480px;
    padding-top: 25px;
    background-color: #1D8E36;
    border-radius: 20px;

    &:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    h1, h3 {
      color: white;
      text-align: center;
    }

    h1 {
      font-size: 54px;
    }

    .card {
        width: 150px;
        height: 150px;
        margin: 0px 120px 0px 0px;
    }

    .fa-star {
      color: $timmy-yellow;
      font-size: 50px;
    }

    .fa-house, .fa-rotate-right {
      margin: 15px 18px 0px 18px;
      border-radius: 20px;
      box-shadow: 1px 2px 5px 1px #00000054;
      padding: 13px;
      background-color: $timmy-orange;
      color: white;
      font-size: 55px;
    }
  }
}
