#cardboard {

  .card {
    height: 150px;
    background-image: url("/app/assets/images/games/memory/carte.jpeg");
  }
  .card.card-revealed, .card.card-won {
    pointer-events: none;
  }

  .card.one.card-revealed, .card.one.card-won {
    background-image: url("/app/assets/images/games/memory/antilope.jpeg");
  }
  .card.two.card-revealed, .card.two.card-won {
    background-image: url("/app/assets/images/games/memory/elephant.jpeg");
  }
  .card.three.card-revealed, .card.three.card-won {
    background-image: url("/app/assets/images/games/memory/guepard.jpeg");
  }
  .card.four.card-revealed, .card.four.card-won {
    background-image: url("/app/assets/images/games/memory/hippopotame.jpeg");
  }
  .card.five.card-revealed, .card.five.card-won {
    background-image: url("/app/assets/images/games/memory/lion.jpeg");
  }
  .card.six.card-revealed, .card.six.card-won {
    background-image: url("/app/assets/images/games/memory/rhinoceros.jpeg");
  }
  .card.seven.card-revealed, .card.seven.card-won {
    background-image: url("/app/assets/images/games/memory/tigre.jpeg");
  }
  .card.eight.card-revealed, .card.eight.card-won {
    background-image: url("/app/assets/images/games/memory/zebre.jpeg");
  }
}
