<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu">
  <% @children.each do |child| %>
    <li><%= link_to child.first_name, child_path(child), class: "dropdown-item" %></li>
    <% end %>
    <li><button class="dropdown-item" type="button">Déconnexion</button></li>
  </ul>
</div>
