<div id="home">
    <div class="navbar-homepage-wrapper">
      <div class="navbar-homepage container">
      <div><%= link_to "Timmy !", root_path, class: "timmy-link" %></div>
        <div> <%= link_to "Connexion", new_user_session_path, class: "btn-connexion" %></div>
      </div>
    </div>

    <div class="container-homepage">
      <div class="cover-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'game.jpg'%>)">
        <div class="container-homepage-content container">
            <h2 id="home-h2">Des jeux pour apprendre et progresser en s'amusant</h2>
            <p id="home-p">Timmy est une application web sécurisée, créée afin que vos enfants de 4 à 6 ans
              puissent s'amuser en développant leurs capacités cognitives.
              Nos jeux ont été développés avec des experts de l'éducation et de l'apprentissage afin de mettre l'accent sur
              l'interactivité, élément primordial dans le développement de l'enfant.
            </p>
            <%= link_to "Rejoignez l'aventure", new_user_registration_path, class: "btn-inscription text-center" %>
        </div>
      </div>
    </div>
</div>
