  <div class="navbar-homepage">
    <div><h1>Timmy !</h1></div>
    <div class="btn-connexion">Connexion</div>
  </div>
  <div class= container-homepage>
    <div><h2>Des jeux pour apprendre et progresser en s'amusant</h2></div>
    <div class="cover-homepage"></div>
  </div>
<div class="footer-home"></div>
