<h1>jeu memory partial ci-dessous</h1>
<div data-controller="memory">
  <div id="cardboard" class="container">
    <div class="row">
      <div data-memory-target='card' data-action="click->memory#reveal" class="card one col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card two col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card three col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card four col m-2"></div>
    </div>
    <div class="row">
      <div data-memory-target='card' data-action="click->memory#reveal" class="card one col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card two col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card three col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card four col m-2"></div>
    </div>
    <div class="row">
      <div data-memory-target='card' data-action="click->memory#reveal" class="card five col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card six col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card seven col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card eight col m-2"></div>
    </div>
    <div class="row">
      <div data-memory-target='card' data-action="click->memory#reveal" class="card five col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card six col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card seven col m-2"></div>
      <div data-memory-target='card' data-action="click->memory#reveal" class="card eight col m-2"></div>
    </div>
  </div>
</div>
