<div class="card-game">
  <div>
    <div class="photo-game" style="background-image: linear-gradient(rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)), url(<%= cl_image_path(Game.first.photo.key) %>)">
    </div>
    <div>
      <%= "Ce jeux est super" %>
    </div>
  </div>
  <div>

  </div>
</div>
