<div class="grid-game">
  <% @games.each do |game| %>
    <div class="card-game">
      <div class="photo-game" style="background-image: url(<%= cl_image_path(game.photo.key) %>)">
        <div class="legend">
          <%= "#{game.description}" %>
          <i class="fa-solid fa-brain fa-2xl"></i>
        </div>
      </div>
      <div class="bottom-card">
        <p><%= game.name %></p>
        <p class="play-btn">jouer</p>
      </div>
    </div>
  <% end %>
</div>
