<div class="grid-game">
  <% @games.each do |game| %>
    <div class="card-game">
      <div class="photo-game" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= cl_image_path(game.photo.key) %>)">
        <div class="legend">
          <%= "Ce jeux est super" %>
          <i class="fa-solid fa-brain"></i>
        </div>
      </div>
      <div class="bottom-card">
        <%= game.name %>
        <i class="fa-solid fa-brain"></i>
      </div>
    </div>
  <% end %>
</div>
