.head-game {
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 18px;
  padding: 0px 13px;
  font-family: $headers-font;
  font-size: 40px;
  color: white;
    p {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    i {
      color: $timmy-blue;
      background: $timmy-blue;
      padding: 35px 10px;
      border-radius: 50%;
    }

    .back-arrow {
      color: white;
      font-size: 57px;
      background: $timmy-orange;
      padding: 31px 8px;
      border-radius: 50%;
      text-decoration: none;
    }
}

.grid-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 31px;
  column-gap: 31px;
  padding: 31px;
  padding-top: 23px;
  margin-bottom: 15px;
  // height: 90vh;
  width: 100vw;
}

.orange-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-orange;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.green-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-green;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.dark-green-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-bright-green;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.yellow-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-yellow;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.brown-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-brown;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.red-card-game {
  padding: 14px;
  padding-bottom: 0px;
  background-color: $timmy-red;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.photo-game {
  background-size: cover;
  background-position: center;
  height: 243px;
  display: flex;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px 9px;
  border-radius: 0px 0px 10px 10px;
  color: white;
  font-size: 14px;
  background-color: rgba(102, 86, 86, 0.65);
  flex-grow: 1;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 3px;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
    p {
      margin-bottom: 0px;
    }
}

.play-btn-orange {
  color: $timmy-orange;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}

.play-btn-green {
  color: $timmy-green;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}

.play-btn-dark-green {
  color: $timmy-bright-green;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}

.play-btn-yellow {
  color: $timmy-yellow;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}

.play-btn-brown {
  color: $timmy-brown;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}

.play-btn-red {
  color: $timmy-red;
  padding: 0px 12px;
  padding-left: 14px;
  padding-top: 0px;
  border-radius: 50px;
  background: white;
  border: 1px solid white;
}


.icone-orange {
  color: $timmy-orange;
}

.icone-green {
  color: $timmy-green;
}

.icone-dark-green {
  color: $timmy-bright-green;
}

.icone-brown {
  color: $timmy-brown;
}

.icone-red {
  color: $timmy-red;
}

.icone-yellow {
  color: $timmy-yellow;
}
