.who {
  margin-bottom: 70px;
  margin-top: 40px;
  font-size: 40px;
  font-family: "Pacifico", "Helvetica", "sans-serif";
}

.children-container {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  transition-duration: 0.1s;
  a {
    text-decoration: none;
  }
  h2 {
    color: white;
    margin-top: 13px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.125);
  }
  img {
    border-radius: 150px;
    border: 9px solid #FEBF63;
    box-shadow: 4px 2px 8px -1px #0000001f;
  }
}

.profil-container {
  text-align: center;
  a{
    color: white;
  }
}


.new-child.container {
  width: 40%;
  color: white;
  margin-right: 240px;
  margin-top: 45px;
}

.new-title {
  text-align: center;
  color: white;
  margin-top: 40px;
}

.new-child .form-control {
  width: 70%;
  height: 35px;
  border-radius: 8px;
  background-color: white;
}

.new-child .form-select {
  width: 40%;
  height: 35px;
  border-radius: 8px;
  background-color: white;
}


.validation {
  width: 35%;
  height: 40px;
  border-radius: 50px;
  background-color: $timmy-orange;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  margin-left: 66px;
  margin-top: 30px;
}

.back {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin-left: 19px;
  width: 67px;
  color: white;
  p {
    margin-bottom: 0px;
  }
}

#plus-button {
  position: absolute;
  bottom: 35px;
  right: 35px;
}
