.navbar {
  background-color: transparent;
}

.btn-circle {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

.btn-circle:hover {
  background-color: $timmy-orange;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  background-color: $timmy-orange;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: white ;
  color: $timmy-orange;
}
