.navbar-homepage-wrapper {
  background-color: $timmy-blue;
  padding: 2px 2px;
}

.navbar-homepage-wrapper-devise {
  background-color: transparent;
}

.navbar-homepage {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: white;
  padding: 2px 10px 7px;
  align-items: center;
  margin: 5px auto;
}
