.navbar {
  background-color: transparent;
  .dropdown {
    margin-left: 6px;
    margin-top: 7px;
  }
}

.btn-circle {
  width: 67px !important;
  height: 67px !important;
  border-radius: 50%;
}

.btn-circle:hover {
  background-color: $timmy-orange;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  background-color: $timmy-orange;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: white ;
  color: $timmy-orange;
}
