// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

body {
  background-image: url(./blob/blob-test.svg);
}


body:has(#list-of-games) {
  background-image: none;
  background-color: $timmy-blue;
}

body:has(#game) {
  background-image: none;
  background-color: $timmy-green;
}


// Your CSS partials
@import "components/index";
@import "pages/index";
